*{
    padding:0;
    margin:0;
}
body {
    background: #eee;
}
.content-left{
    height:auto;
    overflow: hidden;
}
.content-left .item{
    border:1px solid #ddd;
    padding:10px 0;
    background:#fff;
    height:auto;
    margin-bottom:20px;
    overflow:hidden;
    border-radius:2px;
}
footer{
    height:auto;
    background:#fff;
    padding:20px 0;
}